@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  border: none;
}
::selection {
  background: rgb(158, 68, 233);
  color: white;
}
body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}
.img-cont {
  display: none;
}

.skill {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  color: #d772ff;
  font-family: "Poppins";
}
.a {
  text-align: center;
}
.skill2 {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  color: #ff9472;
}

.skill3 {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  color: #ff72b8;
}
.CONT {
  margin-left: auto;
  margin-right: auto;
}
.skill4 {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  color: #8341ff;
}

.skill5 {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  color: #98fd8f;
}

.skill6 {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  color: #ebfd84;
}

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  height: 15px;
  width: 300px;
}

.progress-done {
  border-radius: 20px;
  height: 100%;
  width: 0;
  opacity: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 1s ease, opacity 1s ease;
}

.progress-done {
  background: linear-gradient(to left, #72c7ff, #a44af8);
  box-shadow: 0 3px 3px -5px #9421ff, 0 2px 5px #b639ff;
}

.progress-done2 {
  background: linear-gradient(to left, #9422ff, #72ffd5);
  box-shadow: 0 3px 3px -5px #5ffff7, 0 2px 5px #6e4eff;
}
.progress-done3 {
  background: linear-gradient(to left, #72faff, #e772ff);
  box-shadow: 0 3px 3px -5px #5ffff7, 0 2px 5px #5f84ff;
}
.progress-done4 {
  background: linear-gradient(to left, #72faff, #ff729c);
  box-shadow: 0 3px 3px -5px #7ef8ad, 0 2px 5px #16cff0;
}
.progress-done5 {
  background: linear-gradient(to left, #72faff, #d772ff);
  box-shadow: 0 3px 3px -5px #5ffff7, 0 2px 5px #39ffd4;
}

.d-block {
  margin-bottom: 20px;
}

/* Ativar as barras de progresso quando estiverem visíveis no viewport */

@keyframes progress-done {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes progress-done2 {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
  }
}

.progress-done.active {
  animation: progress-done 1s forwards;
}

.progress-done2.active {
  animation: progress-done2 1s forwards;
}

/* CSS styles for larger screens */
@media (min-width: 768px) {
  /* Add your styles for larger screens here */
  .container-block {
    margin-top: 15vh;
  }
  .display {
    display: flex;
    padding-top: 10vh;
    align-items: flex-start;
  }
  .cont {
    width: 250px;
    height: 250px;
    border-radius: 10px;
  }
  .mt-md-5 {
    margin-top: 5rem;
  }
}

/* CSS styles for smaller screens */
@media (max-width: 767px) {
  /* Add your styles for smaller screens here */
  .container-block {
    margin-top: 10vh;
  }
  .display {
    display: block;
    padding-top: 0;
    align-items: flex-start;
  }
  .cont {
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
  .mt-md-5 {
    margin-top: 2rem;
  }
}

body::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    rgb(59, 19, 206),
    rgb(61, 13, 173)
  ); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(42, 42, 44); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.nav-title {
  font-size: 40px;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-left: 25px;
  padding: 15px;
  animation: move 4s linear infinite;
  background: linear-gradient(to right, #77f, #7bebff, #7a33ff, #33d0ff, #77f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 200% auto;
  font: 700 50px/1 Poppins;
}
@keyframes move {
  to {
    background-position: 200% center;
  }
}
nav {
  height: 80px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  background-color: #292136;
}

.text-nav {
  color: #5de4fc;
  text-decoration: none;
  font-size: 18px;
  margin-left: 30px;
  padding: 15px;
}

.mt-6 {
  justify-content: center;
}
/* The side navigation menu */

.content {
  margin-top: 0; /* Push content below the sidenav */
  transition: 0.5s; /* Transition effect for the content */
}

/* The navigation menu links */
.sidenav a,
input {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  transition: 0.3s;
  margin-bottom: 25px;
}

.line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: -1px; /* Distância ajustada */
  left: 0;
  background-color: #7e38f0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.line:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.line {
  margin-top: 10px; /* Margem superior ajustada */
  font-family: "Poppins", sans-serif;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #42dbe6;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.twiter {
  color: #00acee;
}
.title-section {
  color: #ad58fd;
  font-size: 50px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-family: "Quicksand";
}
.description-section {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.about {
  height: 70vh;
}
.container-block {
  margin-top: 15vh;
}
.display {
  display: flex;
  align-items: flex-start;
  margin-right: auto;
}

.cont img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  display: flex;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2px 3px 2px #5512ad;
  margin: 10px;
  --bs-bg-opacity: 1;
}
.cont-btn:hover {
  box-shadow: 0 1px 3px 1px #57f197;
}

.cont-btn {
  background-color: #292136;
  color: white;
  box-shadow: 0 2px 3px 2px #4861ee;
  transition: 0.3s;
  border: none;
  width: 100px;
  border-radius: 5px;
  height: 35px;
  text-transform: uppercase;
}

.btn-portifolio a {
  color: white;
}

.btn-portifolio:hover {
  box-shadow: 0 3px 6px rgb(0, 247, 255);
}

.btn-portifolio {
  width: 200px;
  height: 40px;
  background-color: #1a1a1a;
  border: none;
  box-shadow: 0 2px 5px rgb(113, 248, 241);
  border-radius: 10px;
  transition: 0.5s;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cont img {
  width: 100px;
  margin: 0;
}
.cont {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 150px;
  height: 200px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 3px 2px #5512ad;
  margin: 10px;
  background-color: #1a1a1a;
  flex-direction: column;
  flex: 1 0 20%; /* Define a largura relativa de cada item */
}

@media (max-width: 767px) {
  .row-lin {
    display: contents;
  }
  .display .row {
    display: flex;
  }
  .display {
    display: contents;
  }
}

/* cards */
.card {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

h2.title {
  font-size: 24px;
  margin-top: 0;
}

p.copy {
  font-size: 16px;
  color: #666;
}

button.btn {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* cards finish */
@media (max-width: 768px) {
  .cont {
    flex-basis: 45%; /* Em telas menores, aumenta o tamanho dos elementos para ocupar mais espaço */
  }
}

.mt-md-5 {
  margin-top: 5rem; /* ou a quantidade desejada em rem */
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* part of low */
/* part of low */

a {
  text-decoration: none;
}
.ola button {
  text-decoration: none;
  color: #36ffbc;
}
.link-button {
  max-width: 320px;
  height: 60px;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(to right, #a272fc, purple);
  margin-left: auto;
  margin-right: auto;
  animation: gradient 2s infinite;
  margin-bottom: 0;
}
.btn-general-m1:hover {
  color: black;
  transition: 0.3;
}

.btn-general-m1 {
  width: 30vh;
  background-color: #1a1a1a;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 5px;
  height: 4vh;
}
.contato {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  margin-top: 10vh;
}
.respo {
  display: flex;
}

.btn-side:hover {
  box-shadow: rgb(113, 241, 250) 0px 3px 29px 0px;
}
.btn-con {
  margin-right: 30vh;
}
.btn-si {
  margin-left: 5vh;
}
.btn-gtx {
  max-width: 31vh;
  display: flex;
  padding: 4px;
  border-radius: 10px;
  /* background: linear-gradient(to right,#72c9fc, rgb(70, 223, 185)); */
  box-shadow: rgba(18, 252, 193, 0.637) 0px 7px 29px 0px;
  margin-right: auto;
  transition: 1s;
}

.btn-general-m1 a {
  text-decoration: none;
}

.btn-port-m1 {
  background-color: transparent;
}
.btn-port-m1-orcamento {
  background-color: transparent;
}
.text-port-m1 span {
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  margin-top: auto;
}
.text-port-m1 {
  display: flex;
}

.form {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, Helvetica, Arial, sans-serif;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  background-color: #1e1d2a;
  padding: 60px 40px;
  border-radius: 15px;
  margin-left: 0;
  left: 0;
}
input {
  border-radius: 15px;
}
textarea {
  border-radius: 15px;
}
a {
  text-decoration: none;
}
.before_name {
  font-size: 25px;
  background-color: #690ce2;
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 40px;
  color: white;
  border-radius: 0px 20px;
}
.buttons {
  position: relative;
  display: flex;
  margin-top: 1%;
}
.input-side::placeholder {
  color: rgb(255, 255, 255); /* Defina a cor desejada aqui */
}
.input-side {
  border-radius: 50%;
  width: 60px;
  margin-top: 40px;
  height: 60px;
  border: none;
  background: rgb(93, 16, 236);
}
.input-side-js {
  width: 250px;
  border-radius: 10px;
  outline: none;
}
.gtx-port-m1 {
  justify-content: center;
  display: flex;
  height: 500px;
}
.about-m2 {
  display: flex;
  text-align: center;
  height: 100vh;
  position: relative;
}

.text-about-m2 {
  margin-top: 50px;
}
.imageOne .img-about {
  margin-top: 50px;
  max-width: 100%;
  height: auto;
}

.img-about {
  position: absolute;
  opacity: 0.6;
}
.imageOne {
  position: absolute;
  background-size: contain;
  z-index: 1;
  opacity: 1;
}
.imageTwo {
  margin-left: 150px;
  margin-top: 50px;
  opacity: 0.9;
  z-index: 2;
  opacity: 1;
  position: absolute;
}
.images {
  margin-top: 80px;
}
.img {
  position: absolute;
}
.image-about {
  height: 20%;
  border-radius: 40px;
  width: 100%;
}
.QuemSomos {
  color: #42dbe6;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-right: 50px;
  z-index: 55;
}
.text-about-m2 {
  margin-left: auto;
}
.title-about {
  font-family: "Montserrat", sans-serif;
  margin-right: 10px;
}
.h4-class {
  font-size: 19px;
  line-height: 1.3em;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  margin-left: 10px;
  padding-top: 20px;
}
.mude {
  font-family: "Wix Madefor Text", sans-serif;
  font-size: 55px;
  opacity: 1;
  z-index: 2;
}
.mude2 {
  font-family: "Roboto Condensed", sans-serif;
  z-index: 2;
  font-size: 88px;
  opacity: 1;
}
.datalist {
  float: left;
}

.gtx-aport {
  height: 97vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.animationhover {
  transition: 0.5s;
}

.animationhover:hover {
  box-shadow: 0 2px 5px rgb(115, 248, 215);
  background: none;
}
.mt-md-54 {
  margin-top: 4vh;
}
.btn-dark a {
  font-family: "Poppins", sans-serif;
  color: white;
}
.btn-dark {
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}
.joaoname {
  background-image: linear-gradient(
    to right,
    rgb(137, 255, 245),
    #96ffca,
    #23fdf2,
    #f77e6e,
    rgb(196, 255, 177)
  );
  background-size: 200% auto;
  font: 700 45px/1 Rubik;
  letter-spacing: 1px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.name {
  justify-content: center;
  /* height: 100px; */
}
.name span {
  border-bottom: 5px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nametwo {
  width: 250px;
}
.nameone {
  width: 150px;
}
.div {
  margin-top: 5vh;
  display: flex;
}
.main {
  width: 800px;
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  border: none;
}
.border-imgg img {
  height: 200px;
  border-radius: 50%;
  border: none;
  width: 220px;
  background: #9604f8;
}
.border-imgg {
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  height: 250px;
  width: 250px;
  box-shadow: rgb(238, 104, 27) 0px 1px 1px 0px inset,
    rgba(136, 136, 250, 0.966) 0px 50px 100px -20px rgba(rgb(50, 250, 250)) 30px
      60px -30px;
  background: rgb(37, 233, 233);
}
.class {
  position: absolute;
}
.card-title {
  color: white;
}
.mt-top {
  margin-top: 5%;
}
.card-link {
  font-family: "Wix Madefor Display", sans-serif;
}
/* scroll */

.link {
  width: 50px;
  height: 50px;
}
/* scroll finish*/
.especializacao {
  width: 100%;
  margin-left: auto;
}

.apre-expe {
  color: rgb(182, 182, 182);
  font-size: 20px;
  font-family: "Anton", sans-serif;
  font-family: "Montserrat", sans-serif;
  width: auto;
}
.text-ex {
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  width: 100%;
}
.apre {
  font-size: 20px;
  width: auto;
  margin-bottom: 20px;
  color: rgb(241, 241, 241);
  font-family: "Poppins", sans-serif;
}

.about-ling {
  margin-top: 0;
  padding: 0;
  margin: 0;
}
.apresentacao__imagem {
  display: grid;
  place-items: center;
  padding: 15px;
}
.buttons button {
  position: relative;
}

.border-img {
  width: auto;
  display: flex;
  background-color: rgb(61, 61, 61);
  margin: 15px;
  margin-top: 30%;
}
.apre {
  width: 100%;
}
.apresentacao {
  display: flex;
  height: 200px;
  width: 50px;
}
.text-apre-gtx1 h1 {
  font-family: "Poppins", sans-serif;
}
.text-apre-gtx1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Quicksand", cursive;
}
.font-5 {
  font-size: 21px;
}
.Joao {
  background: linear-gradient(
    to right,
    rgb(106, 247, 193),
    #7bebff,
    #a272fc,
    #f77e6e,
    rgb(196, 255, 177)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 200% auto;
  font: 700 25px/1 Helvetica;
}
@keyframes gradient {
  from {
    background-position: 0%;
    background: #72fcfc;
  }
  to {
    background-position: 100%;
    background: #79f7fc;
  }
}
.button {
  max-width: 190px;
  padding: 4px;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(to right, #ae86f8, rgb(208, 90, 238));
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  transition: 1s;
  animation: gradient 2s infinite;
}
.text {
  width: 180px;
  background-color: #1a1a1a;
  border: none;
  border-radius: 5px;
  height: 4vh;
}
.mt-md-4 {
  margin-top: 14vh;
}
.models-title {
  text-align: center;
}
#secao2 {
  justify-content: center;
}
.scroll-section {
  max-width: 90%; /* ou outro valor adequado */
}
.nav-scroll {
  background: #fff !important;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 0;
  position: fixed !important;
  top: -100px !important;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  border-radius: 0 !important;
  margin: 0 !important;
}
.gtx {
  margin-top: 30vh;
}
/* .gtx-about-m2{} */
@media screen and (max-width: 750px) {
  .nav-title {
    margin-left: auto;
    margin-right: auto;
  }
  .nav-menu a {
    display: none;
  }
  .apre {
    width: auto;
    margin-top: 20vh;
  }
  .text-port-m1 {
    color: rgb(182, 182, 182);
    font-size: 45px;
    font-family: "Anton", sans-serif;
    font-family: "Montserrat", sans-serif;
  }
  #gtx-port-m1 {
    margin-left: auto;
    display: block;
    height: 50px;
  }

  .buttons {
    display: block;
  }
  .display-teste {
    display: none;
  }
  .buttons button {
    width: 100%;
    font-size: 18px;
    text-align: center;
    border-radius: 13px;
    margin-top: auto;
    margin-left: 0;
  }

  .img-side {
    height: 50px;
    width: 30px;
    font-size: 30px;
    margin-right: 20px;
  }

  .mt-6 span {
    font-size: 40px;
  }
  .text-port-m1 {
    flex-direction: column;
  }
  .main {
    height: 350px;
    margin-top: 0;
  }
  .apresentacao__imagem {
    height: 450px;
    background: cover;
  }

  .main {
    display: none;
  }
  .apresentacao {
    flex-direction: column;
    height: auto;
  }
  .border-img {
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .footer {
    background-color: rgb(20, 20, 20);
    position: relative;
    width: 100%;
    clear: both;
    display: block;
    height: auto;
  }
  .link {
    width: 100%;
  }
  .gtx {
    margin-left: auto;
    margin-right: auto;
    margin-top: 27vh;
  }

  .div {
    flex-direction: column;
    margin-left: auto;
    display: flex;
    margin-right: auto;
    justify-content: center;
  }
  .display {
    display: block;
    margin-top: 5vh;
  }
  .cont {
    margin-left: auto;
    margin-right: auto;
  }
  .mt-md-4 {
    margin-top: 5vh;
  }
  .grid__projetos {
    display: block;
    flex-direction: column;
    height: auto;
  }
  .box__models {
    height: auto;
  }

  /* .display-teste {
     display: none;
  } */
  .img-cont img {
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .img-cont {
    display: flex;
    opacity: 1;
  }
  .btn-si {
    margin-left: 0vh;
  }
  .contato {
    flex-direction: column;
    display: block;
    height: auto;
  }
  .respo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .login-box{
    margin: 0;
  }

  .img-foo {
    margin: auto;
  }

}

.modal {
  color: black;
}
#secao2 {
  height: 500px;
}
.scroll-arrows {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  text-align: center;
  animation: bounce 1.5s infinite;
  color: white;
  z-index: 99;
  cursor: pointer;
}
.img-cont img {
  height: 40px;
  width: 40px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.scroll-arrows i {
  color: #000;
  font-size: 24px;
  margin-bottom: 5px;
}

/* cards   */ /* CSS */
.box__models a {
  color: rgb(255, 255, 255);
  width: 100%;
}
.content-text::selection {
  color: white;
}

.descricao {
  margin-top: 5vh;
}
.box__models:hover {
  box-shadow: rgb(0, 247, 255) 0px 3px 8px;
}

.box__models img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  font-size: 14px;
  justify-content: center;
  margin-top: auto;
  width: 100%;
}
.icons img {
  cursor: pointer;
  height: 30px;
  margin-left: 2vh;
  justify-content: center;
}
.icons {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 2vh;
  justify-content: center;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.text-footer {
  margin-left: auto;
  justify-content: center;
  margin-right: auto;
  display: flex;
}

.grid__projetos {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  display: flex;
}
.text-card a {
  text-decoration: none;
  padding: 5px;
}
.h2-card {
  color: #36fcc0;
  margin-top: 1%;
}
.box__models {
  position: relative;
  padding: 40px 25px;
  border-radius: 15px;
  width: 430px;
  height: auto;
  background-color: #1a1a1a;
  margin: 0 auto;
  box-shadow: 1px 2px 5px #5512ad;
  overflow: hidden;
  margin-bottom: 20px;
  font-family: "Poppins";
}

@media screen and (max-width: 992px) {
  .grid__projetos {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .box__models {
    width: 90%;
    margin-left: auto;
  }
}

.contato {
  height: 450px;
  background: #2c253800;
  font-family: "Poppins";
}

.login-box button:hover {
  box-shadow: rgba(255, 117, 198, 0.48) 6px 2px 16px 0px,
    rgba(132, 68, 250, 0.8) -6px -2px 16px 0px;
  background-color: #5ef1cd;
}
.login-box button {
  width: 40vh;
  transition: 1s;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #61f7d1;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.login-box {
  width: 400px;
  padding: 40px;
  flex-direction: column;
  background: rgba(12, 12, 12, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-family: "Poppins";
    margin-left: 5vh;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  height: 60px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  text-align: left;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label,
.login-box .user-box input:not(:placeholder-shown) ~ label {
  top: -20px;
  left: 0;
  font-size: 17px;
}
.login-box form a {
  position: relative;
  display: flex;
  padding: 10px 20px;
  background: #6d3df1;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border-radius: 10px;
}

.login-box a:hover {
  background: #6d3df1;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #8803f4, 0 0 25px #7303f4, 0 0 50px #44d3ff;
  animation: none;
}

/* estatisticas */
.progress-circle {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(
    to top,
    rgb(31, 238, 193),
    rgb(126, 61, 247),
    rgb(112, 44, 240)
  );
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid #c859fc;
  border-bottom-color: transparent;
  transform: rotate(90deg);
  transform-origin: center;
  animation: progress-animation 2s ease-in-out forwards;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
}
/* estatisticas */
